@model Portal.Data.ViewModels.CorrespondentArticle.CorrespondentArticleIndexViewModel

@{
    ViewData["Title"] = "Index";
    int rowNo = (int)ViewBag.Number;
}

<div class="col-md-12 col-sm-6 col-xs-4">
    <div class="x_panel">
        <div class="x_title text-center">
            <h2 style="text-align:center;">Correspondent article list  </h2>
        </div>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-4" style="padding:0;">
        <form method="get" class="form-inline my-2 my-lg-0" asp-action="Index"
              asp-route-pageNumber="@Model.CurrentPage"
              asp-route-pageSize="@Model.PageSize"
              asp-route-filter="@Model.Filter"
              asp-route-orderBy="@Model.OrderBy">

            <input type="hidden" asp-for="@Model.CurrentPage" />
            <input type="hidden" asp-for="@Model.PageSize" />
            <input type="hidden" asp-for="@Model.Filter" />
            <input type="hidden" asp-for="@Model.OrderBy" />

            <input asp-for="@Model.Search" class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="off">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
    <span class="text-danger">@ViewBag.ActiveArticles</span>
    <br />
    <div class="table">
        <table class="table table-striped" header header-content="Articles">
            <thead>
                <tr class="headings">
                    <th class="column-title">#</th>
                   
                 
                    <th class="column-title">
                        <a class="@("no-link " + (Model.OrderBy.Equals("DateCreated") || Model.OrderBy.Equals("DateCreated_Desc") ? "active-order" : ""))" asp-action="Index"
                           asp-route-pageNumber="@Model.CurrentPage"
                           asp-route-pageSize="@Model.PageSize"
                           asp-route-filter="@Model.Filter"
                           asp-route-search="@Model.Search"
                           asp-route-orderBy="@(Model.OrderBy.Equals("DateCreated") ? "DateCreated_Desc" : "DateCreated")"> Date created</a>
                    </th>
                    <th class="column-title">
                        <a class="@("no-link " + (Model.OrderBy.Equals("Active") || Model.OrderBy.Equals("Active_Desc") ? "active-order" : ""))" asp-action="Index"
                           asp-route-pageNumber="@Model.CurrentPage"
                           asp-route-pageSize="@Model.PageSize"
                           asp-route-filter="@Model.Filter"
                           asp-route-search="@Model.Search"
                           asp-route-orderBy="@(Model.OrderBy.Equals("Active") ? "Active_Desc" : "Active")">Active </a>
                    </th>
                    
                    <th class="column-title">
                        <a class="@("no-link " + (Model.OrderBy.Equals("JournalistUserName") || Model.OrderBy.Equals("JournalistUserName_Desc") ? "active-order" : ""))" asp-action="Index"
                           asp-route-pageNumber="@Model.CurrentPage"
                           asp-route-pageSize="@Model.PageSize"
                           asp-route-filter="@Model.Filter"
                           asp-route-search="@Model.Search"
                           asp-route-orderBy="@(Model.OrderBy.Equals("JournalistUserName") ? "JournalistUserName_Desc" : "JournalistUserName")">User</a>
                    </th>
                    <th class="column-title">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Articles.Any())
                {
                    <tr>
                        <td colspan="5" style="text-align:center">No articles to show</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model.Articles)
                    {
                        <tr>
                            <td> @(rowNo += 1)</td>
                            <td> @item.CreateOn.ToShortDateString()</td>
                            <td>
                                @if (item.Active)
                                {<i class="text-success fa fa-check-square"></i>}
                                else
                                {<i class="text-danger fa fa-square"></i>}
                            </td>
                            <td> @item.Journalist.UserName</td>

                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-primary" style="margin-right:5px;" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa fa-pencil"></i></a>
                          
                                </div>
                            </td>
                        </tr>
                    }

                }

            </tbody>
        </table>
    </div>
    @if (Model.Articles.Any())
    {
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item @(!Model.Articles.ShowFirst? "disabled":"")">

                    <a class="page-link" asp-action="Index"
                       asp-route-pageNumber="@(1)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-filter="@Model.Filter"
                       asp-route-search="@Model.Search"
                       asp-route-orderBy="@Model.OrderBy">
                        <i class="text-primary fa fa-angle-double-left"></i>
                    </a>

                </li>
                @if (Model.Articles.ShowPrevious)
                {
                    <li class="page-item" title="Previous">
                        <a class="page-link" asp-action="Index"
                           asp-route-pageNumber="@(Model.CurrentPage -1)"
                           asp-route-pageSize="@Model.PageSize"
                           asp-route-filter="@Model.Filter"
                           asp-route-search="@Model.Search"
                           asp-route-orderBy="@Model.OrderBy">
                            @(Model.Articles.CurrentPage - 1)
                        </a>
                    </li>
                }

                <li class="page-item active" title="Current">
                    <a class="page-link">
                        @(Model.Articles.CurrentPage)
                    </a>
                </li>
                @if (Model.Articles.ShowNext)
                {
                    <li class="page-item  @(!Model.Articles.ShowNext? "disabled":"")" title="Next">
                        <a class="page-link" asp-action="Index"
                           asp-route-pageNumber="@(Model.CurrentPage + 1)"
                           asp-route-pageSize="@Model.PageSize"
                           asp-route-filter="@Model.Filter"
                           asp-route-search="@Model.Search"
                           asp-route-orderBy="@Model.OrderBy">
                            @(Model.Articles.CurrentPage + 1)
                        </a>
                    </li>
                }
                <li class="page-item  @(!Model.Articles.ShowLast? "disabled":"")" title="Last">
                    <a class="page-link" asp-action="Index"
                       asp-route-pageNumber="@(Model.Articles.TotalPages)"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-filter="@Model.Filter"
                       asp-route-search="@Model.Search"
                       asp-route-orderBy="@Model.OrderBy">
                        <i class=" text-primary fa fa-angle-double-right"></i>
                    </a>

                </li>

            </ul>

        </div>
    }
</div>

@section Scripts{
    <script>

      

    </script>
}

